/* Base Style */

html, body {
    margin: 0;
    font-family: 'Merriweather', sans-serif;
    box-sizing: border-box;
   }
header {
background-color: rgb(35, 43, 53, 0.9);
text-align: center;
padding: 15px 30px;
color: white;
}

h1 {
    font-weight: 700;
    font-size: 20px;
}
h2 {
    font-weight: 700;
    margin-bottom: 5px;
}

p {
    color: rgb(154, 159, 164);
}

.intro {
    text-align: center;
    padding: 20px 10px;
}

footer {
    text-align: center;
}
/* Form css */
fieldset {
    border-style: none;   
}
label
{
    font-weight: 400;
    display: inline-block;
    padding: 0.75em 0;
    color: rgb(78, 95, 111);
}

input, select{
  
}

input:focus,
#state:focus {
    outline-color: rgb(56, 85, 120);
}
input[name^="user"],
select {
    width:100%;
  box-sizing:border-box;
    
    padding: 15px 10px;
    border-style: none;
    border-radius: 5px;
    background-color: rgb(235, 236, 238);
}


#zip {
    display: block;
    width: 50%;
    margin-bottom: 25px;
}



input[radio],
input[checkbox] {
    display: inline-flex;
    padding: 0 5px;
}




textarea {
    font-family: 'Merriweather', sans-serif;
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    background-color: rgb(235, 236, 238);
    border-style: none;
    border-radius: 5px;
    resize: none;
}
button {
    width: 100%;
    height: 60px;
    color: whitesmoke;
    border-style: none;
    border-radius: 5px;
    font-family: 'Merriweather', sans-serif;
    font-size: 20px;
    background-color: rgb(65,175,166);
}

footer p {
color: grey;
font-style: italic;
}
/* Designs/Breaks */
.break1 {
border-top: 6px double black;
}

.break2 {
    border-top: 3px solid black;
}


/* psuedo-elements */
::placeholder {
    font-family: 'Merriweather', sans-serif;
    text-align: right;
    font-style: italic;
    padding-right: 2px;
}

/* Media Queries */
@media (min-width: 768px) {
.form1 {
    box-sizing: border-box;
display: flex;
flex-direction: column;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


input[name^="user"],
select {
    width: 75%;
    margin: 5px 0;
}


#zip {
    width: 25%;
margin-right: 50%;
}

.label1 {
    margin-left: 20px;
}

}